.navbar h2{
    color: #fff;
}
.radius-none{
    border-radius: 0px;
}
.table-box.blue{
    border: 1px solid #b4cef8;
}
.table-box.purple{
    border:1px solid #af5cc1;
}
.table-box.green{
    border:1px solid #77e588;    
}
.table-box{
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    border-top:0;
}
.table-box-title{
    padding: 8px 10px 5px 10px;
    border-bottom: 1px solid #eee;
    color: #fff !important;
}
.blue .table-box-title{
    background-color: #4b8df8 !important;
}
.purple .table-box-title{
    background-color: #852b99;
}
.green .table-box-title{
    background-color: #35aa47;
}
.table-box table{
    margin-top: 20px;
}
.col-centered{
    float: none;
}
.form-control{
    margin: 5px 0px;
}
.table-box-body{
    padding: 10px 15px;
}
.table-box thead{
    font-weight: bold;
}
textarea.form-control{
    height: 200px;
}
.btn-nostyle{
    background: transparent;
    border:none;
}
.img-dataBox{
    background: rgba(242, 242, 242, 0.7);
    padding: 10px 15px;
    margin-top: 5px;
}