/*Fonts ***********************************************************************/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

@font-face {
    font-family: "bignoodletitling"; 
    src: url(../fonts/bignoodletitling.woff); 
}
body{
    /*background: #333235;*/
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    color:#777;
}
h1,h2,h3,h4,h5,h6{
    color:#333;
}
p{
    text-align: justify;
}
.navbar h2{
    color: #fff;
}
.col-centered{
    float: none;
}
.form-control{
    margin: 5px 0px;
}
/*Layout***********************************************************************/
.mt30{
    margin-top: 30px;
}
.ml5{
    margin-left: 5px;
}
.img-l {
    float: left;
    margin: 3px 15px 10px 2px;
    padding: 2px;
}

.img-r {
    float: right;
    margin: 3px 2px 10px 15px;
    padding: 2px;
}

hr{
    border-top: 1px solid #d7d7d7;
}
header{
    padding: 0px 15px 0px;
}
footer{
    border-top: 5px solid #37A68E;
}
.content,.sidebar{
    padding-top: 15px;
    padding-bottom: 15px;
}
/*Header**********************************************************************/
.top{
    color:#fff;
    padding: 10px 15px;
    background: #37a68e;
    font-size: 12px;
}
.top a{
    color:#fff;
    text-decoration: none;
}
.top a:hover{
    text-decoration: underline;
}
.top-cell{
    display: inline-block;
}
.logo {
    padding-top: 40px;
    padding-bottom: 40px;
}
header a{    
    text-decoration: underline;
    color: #D3D3D3;
}
header a:hover{
    /*color:#f35656;*/
}
.responsive{
    width: 100%;
}
.top-nav{
    margin-left: 250px;
}
.top-nav li{
    float: left;
    list-style: none;
}
.top-nav a{
    text-transform: uppercase;
    display: block;
    padding: 15px 22px;
    text-decoration: none;
    color: #777;
    font-size: 12px;
    transition: all ease 0.3s;
    margin-left: 1px;
    margin-top: 25px;
}
.top-nav a:hover, .top-nav a.active{
    color: #fff;
    background: #37a68e;
}
.soc{
    display: inline-block;
    margin: 0px 4px;
    font-size: 15px;
}

.logo{
    color:#777;
}
.top-nav{
    margin-bottom: 0px;
}
.top-nav li{
    padding-right: 0px;
    padding-left: 0px;
}

.form-search{    
    color:#777;
    margin-top: 30px;
    padding: 5px;
    border:1px solid #f0f0f0;
}
.form-search input{
    min-width: 220px;
    border: none;
}
.form-search input:focus{
    outline: none;
}
.form-search button{
    background: #fff;
        border: none;
}

.bxslider img{
    width:100%;
    height: auto;
}

/*Sidebar**********************************************************************/
.sidebar{
    background: #f5f5f5;
    margin-top: 15px;
}
.side-h2{
    position: relative;
    color: #333;
    border-bottom: 1px solid #d7d7d7;
    padding: 0px 0px 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}
.side-h2:before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  border-bottom: 1px solid #37a68e;
  width: 50px;
  height: 1px;
}
.side-block{
    margin-top: 15px;
}
.side-block.first{
    margin-top: 0px;
}
.side-list{
    list-style: none;
    padding-left: 0px;
}
.side-list li{
    position: relative;
    padding: 5px 5px 5px 20px;
}
.side-list li:before{
    content: ' ';
    display: block;
    position: absolute;
    background: #37A68E;
    left: 10px;
    top: 15px;
    width: 3px;
    height: 3px;
}
.side-list li:last-child{
    border-bottom: none;
}
.side-list a{
    color:#777;
    font-size: 14px;
}
.side-list a:hover{
    text-decoration: underline;
}
/*Content**********************************************************************/
.breadcrumbs{
    margin-top: 10px;
}
.breadcrumbs a{
    color:#37a68e;
}
.breadcrumbs a:hover{
    color: #f35656;
    text-decoration: none;
}
.sep{
    color: #f97212;
    display: inline-block;
    padding: 0px 5px;
}
.subptype-list{
    padding-left: 0px;
    list-style: none;
}
.subptype-list li{
    display: inline-block;
}
.subptype-list a{
    display: block;
    padding: 0 20px;
    position: relative;
    font-size: 15px;
}
.subptype-list a:before{
    content: " ";
    position: absolute;
    left: 5px;
    top: 6px;
    display: block;
    background: #f35656;
    width:8px; height: 8px;    
}
.subptype-list a:hover{
    color:#f35656;
    text-decoration: none;
}
/*Footer***********************************************************************/
.foot-nav a{
    color: #D3D3D3;
}
.foot-nav a:hover{
    color: #f35656;
    text-decoration: none;
}
.foot-logo{
    font-size: 20px;
}
.footer-data{
    background: #3f3f3f;
    padding: 20px 0px;
}
.footer-copy{
    padding: 10px 0;
    background: #242424;
    font-size: 12px;
}
.footer-copy a{
    color: #fff;
    margin-left: 5px;
}
.foot-h2{
    position: relative;
    color: #fff;
    border-bottom: 1px solid #d7d7d7;
    padding: 0px 0px 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 15px;
}
.foot-h2:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    border-bottom: 1px solid #a9a9a9;
    width: 50px;
    height: 1px;
}
.foot-list,.foot-locate{
    list-style: none;
    padding-left: 0px;
}
.foot-list a{
    color:#DADADA;
    font-size: 15px;
    line-height: 25px;
}
.foot-locate li{
    position: relative;
    color:#DADADA;
    margin: 5px 0px;
    padding-left: 25px;
}
.foot-locate a{
    color:#dadada;
}
.foot-locate li:before{
    font: normal normal normal 14px/1 FontAwesome;
    color: #37A68E;
    position: absolute;
    left: 0px;
    font-size: 16px;
    top:3px;
}
.foot-locate .map:before{
    content:"\f041";    
}
.foot-locate .phone:before{    
    content: "\f095";
}
.foot-locate .email:before{
    content: "\f0e0";
}